
:root {
  --h1: #01013B;
  --border: #021659;
  --input-bg:#f7f7f7;
  --button: #000042;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
}