@import './App.css';

h1 {
  color: var(--h1);
  margin: 5px;
}

.container {
  display: flex;
  flex-direction: column;
 justify-content: center;
  min-width: 300px;
}

.input {
  margin: 10px;
  padding: 10px;
  border: 1px solid var(--border);
  border-radius: 5px;
  box-shadow: 2px 2px 2px rgb(0,0,0,0.2)
}

.input:focus {
  outline: none;
  background-color: var(--input-bg);
  border: 1px solid var(--border);
}

button {
  margin: 10px;
  padding: 10px;
  border: 1px solid var(--border);
  border-radius: 5px;
  box-shadow: 2px 2px 2px rgb(0, 0, 0, 0.4);
  background-color: var(--button);
  color: white;
}

button:hover {
  cursor: pointer;
  background-color: #04043e;
}

.cadastro-link {
  text-decoration: none;
  color: var(--button);
  margin-top: 10px;
  display: inline-block;
  transition: color 0.2s;
}

.cadastro-link:hover {
  text-decoration: underline;
  color: var(--button);
}